---
- name: check to see if pip is already installed
  command: "pip --version"
  ignore_errors: true
  register: pip_is_installed
  changed_when: false

- name: check to see if pip3 is already installed
  command: "pip3 --version"
  ignore_errors: true
  register: pip3_is_installed
  changed_when: false

- block:

  - name: install python-dev
    become: yes
    package: name=python-dev state=present

  - name: download get-pip.py
    get_url: url=https://bootstrap.pypa.io/get-pip.py  dest=/tmp

  - name: install pip
    command: "python /tmp/get-pip.py --user"

  - name: delete get-pip.py
    file: state=absent path=/tmp/get-pip.py

  when: pip_is_installed.rc != 0

- block:

  - name: install python3-dev
    become: yes
    package: name=python3-dev state=present

  - name: download get-pip.py
    get_url: url=https://bootstrap.pypa.io/3.2/get-pip.py  dest=/tmp/pip3.py

  - name: install pip3
    command: "python3 /tmp/pip3.py --user"

  - name: delete pip3.py
    file: state=absent path=/tmp/pip3.py

  when: pip3_is_installed.rc != 0

# - name: Ensure pip is installed.
#   shell: wget https://bootstrap.pypa.io/get-pip.py -O /tmp/pip.py && python /tmp/pip.py --user

# - name: Ensure pip3 is installed.
#   shell: wget https://bootstrap.pypa.io/3.2/get-pip.py -O /tmp/pip3.py && python /tmp/pip3.py --user

# - name: ensure pip path
#   shell: export PATH={{ ansible_env.PATH }}:{{ ansible_env.HOME }}/.local/bin
