---
- name: add ppa
  apt_repository:
    repo: ppa:phoerious/keepassxc
    state: present
  become: yes
  when: ansible_service_mgr == 'apt'

- name: install keepassxc
  become: yes
  package:
    name: keepassxc
    state: latest
