---
- stat: path={{ ansible_env.HOME }}/.cache/antibody
  register: antibody_check

- block:
    - name: install antibody
      shell: curl -sL git.io/antibody | bash -s
      ignore_errors: true

    - name: create zsh plugins file
      shell: /bin/zsh antibody bundle < ~/.zsh_plugins.txt  > ~/.zsh_plugins.sh
      ignore_errors: true
  when: antibody_check.stat.exists == False
