---
- name: zsh
  become: yes
  package:
    name: "{{ item }}"
    state: latest
  with_items:
    - zsh

- name: "Make ZSH default shell for user {{ ansible_env.USER }}"
  user:
    name: "{{ ansible_env.USER }}"
    shell: /bin/zsh

- name: copy global zshenv file
  become: yes
  copy:
    src: zshenv
    dest: /etc/zsh/zshenv
    owner: root
    group: root
    mode: '0644'
    backup: yes

- name: create zsh dir
  file: path="{{ ansible_env.HOME }}/.config/zsh/" state=directory

- name: Link zsh files
  file: >
    src={{item}}
    dest={{ ansible_env.HOME }}/.config/zsh/{{ item | basename }}
    state=link
  with_fileglob:
    - zsh/*
    - zsh/.*

- include: antibody.yml
