---
- name: zsh
  become: yes
  package:
    name: "{{ item }}"
    state: latest
  with_items:
    - zsh

- name: copy global zshenv file
  become: yes
  copy:
    src: zshenv
    dest: /etc/zsh/zshenv
    owner: root
    group: root
    mode: '0644'
    backup: yes

- name: create zsh dir
  file: path="{{ ansible_env.HOME }}/.config/zsh/" state=directory

- name: Link zsh files
  file: >
    src={{item}}
    dest={{ ansible_env.HOME }}/.config/zsh/{{ item | basename }}
    state=link
  with_fileglob:
    - zsh/*
    - zsh/.*

- name: sheldon.yml
  ansible.builtin.import_tasks:
    file: sheldon.yml
