UXTerm*faceName: Hack:size=9:antialias=true
UXTerm*dynamicColors:      true
UXTerm*utf8:               2
UXTerm*eightBitInput:      true
/* UXTerm*saveLines:          512 */
UXTerm*metaSendsEscape: true

! truetype plz
UXTerm.vt100.renderFont: true

! termtype
UXTerm*termName: xterm-256color

UXTerm*cursorColor: #fb4934

! font menu (ctl-rightclick)
UXTerm.fontMenu.fontdefault.Label: Normal
UXTerm.fontMenu.font1.Label: Illegible
UXTerm.fontMenu.font2.Label: Smallest
UXTerm.fontMenu.font3.Label: Small
UXTerm.fontMenu.font4.Label: Large
UXTerm.fontMenu.font5.Label: Huge
UXTerm.fontMenu.font6.Label: Bold

UXTerm*VT100.Translations: #override \
                 Ctrl Shift <Key>V:    insert-selection(SELECT) \n\
                 Ctrl Shift <Key>C:    copy-selection(SELECT)

UXTerm*selectToClipboard: true

Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.hintstyle: hintfull
Xft.dpi: 109



urxvt*font: xft:Hack:pixelsize=14
URxvt*scrollBar: false
URxvt.saveLines: 32767
URxvt*termName: rxvt
URxvt.intensityStyles: false
URxvt*.termName: rxvt-unicode-256color

! disable default Ctrl+Shift-Binding
URxvt.iso14755: False
URxvt.iso14755_32: False
! perl extensions
URxvt.perl-ext: default
URxvt.perl-ext-common: default,keyboard-select,font-size
URxvt.font-size.step: 4
URxvt.keyboard-select.clipboard: True
URxvt.keysym.M-s: perl:keyboard-select:search

URxvt*cursorColor: #fb4934

URxvt.letterSpace: -1

/* ! ----------------------------------------------------------------------------- */
/* ! File: gruvbox-dark.xresources */
/* ! Description: Retro groove colorscheme generalized */
/* ! Author: morhetz <morhetz@gmail.com> */
/* ! Source: https://github.com/morhetz/gruvbox-generalized */
/* ! Last Modified: 6 Sep 2014 */
/* ! ----------------------------------------------------------------------------- */

/* ! hard contrast: *background: #1d2021 */
/* *background: #282828 */
/* ! soft contrast: *background: #32302f */
/* *foreground: #ebdbb2 */
/* ! Black + DarkGrey */
/* *color0:  #282828 */
/* *color8:  #928374 */
/* ! DarkRed + Red */
/* *color1:  #cc241d */
/* *color9:  #fb4934 */
/* ! DarkGreen + Green */
/* *color2:  #98971a */
/* *color10: #b8bb26 */
/* ! DarkYellow + Yellow */
/* *color3:  #d79921 */
/* *color11: #fabd2f */
/* ! DarkBlue + Blue */
/* *color4:  #458588 */
/* *color12: #83a598 */
/* ! DarkMagenta + Magenta */
/* *color5:  #b16286 */
/* *color13: #d3869b */
/* ! DarkCyan + Cyan */
/* *color6:  #689d6a */
/* *color14: #8ec07c */
/* ! LightGrey + White */
/* *color7:  #a89984 */
/* *color15: #ebdbb2 */

! Copyright (c) 2016-present Arctic Ice Studio <development@arcticicestudio.com>
! Copyright (c) 2016-present Sven Greb <code@svengreb.de>

! Project:    Nord XResources
! Version:    0.1.0
! Repository: https://github.com/arcticicestudio/nord-xresources
! License:    MIT

#define nord0 #2E3440
#define nord1 #3B4252
#define nord2 #434C5E
#define nord3 #4C566A
#define nord4 #D8DEE9
#define nord5 #E5E9F0
#define nord6 #ECEFF4
#define nord7 #8FBCBB
#define nord8 #88C0D0
#define nord9 #81A1C1
#define nord10 #5E81AC
#define nord11 #BF616A
#define nord12 #D08770
#define nord13 #EBCB8B
#define nord14 #A3BE8C
#define nord15 #B48EAD

*.foreground:   nord4
*.background:   nord0
*.cursorColor:  nord4
*fading: 35
*fadeColor: nord3

*.color0: nord1
*.color1: nord11
*.color2: nord14
*.color3: nord13
*.color4: nord9
*.color5: nord15
*.color6: nord8
*.color7: nord5
*.color8: nord3
*.color9: nord11
*.color10: nord14
*.color11: nord13
*.color12: nord9
*.color13: nord15
*.color14: nord7
*.color15: nord6
