[Desktop Entry]
Version=1.0
Type=Application
Name=GoLand
Icon={{ goland_icon_path | default('goland') }}
Exec="{{ goland_exec_path }}" %f
Comment=The smartest IDE for Go development
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-goland
