---

- include: install.yml
- include: templates.yml
- include: config.yml
- include: diff-so-fancy.yml

- name: Link global gitignore
  file:
    src: "{{ item }}"
    dest: "{{ ansible_env.HOME }}/.{{ item | basename }}"
    state: link
  with_fileglob:
    - gitignore
