---

- name: check golangci-lint version
  shell: golangci-lint version || /bin/true
  register: golangcilint_version_check

- name: download & install golangci-lint
  become: yes
  apt:
    deb: https://github.com/golangci/golangci-lint/releases/download/v{{ go_golangcilint_version }}/golangci-lint-{{ go_golangcilint_version }}-linux-amd64.deb
  when: "golangcilint_version_check.stdout.find('golangci-lint has version ' ~ go_golangcilint_version) == -1"

- name: Link .golangci-lint & config
  file:
    src: "{{ item }}"
    dest: "{{ ansible_env.HOME }}/{{ item | basename }}"
    state: link
  with_fileglob:
  - .golangci.yml
  - .revive.toml

# - name: installing revive
#   shell: >
#     source ~/.config/zsh/.zshrc &&
#     go get -u github.com/mgechev/revive
#     executable=/bin/zsh
