---

- name: install benchstat
  shell: >
    source ~/.config/zsh/.zshrc &&
    go get -u golang.org/x/perf/cmd/benchstat executable=/bin/zsh

- name: install iferr
  shell: >
    source ~/.config/zsh/.zshrc &&
    go get -u github.com/koron/iferr executable=/bin/zsh

- name: install impl
  shell: >
    source ~/.config/zsh/.zshrc &&
    go get -u github.com/josharian/impl executable=/bin/zsh

- name: install gofumpt
  shell: >
    source ~/.config/zsh/.zshrc &&
    go get -u mvdan.cc/gofumpt executable=/bin/zsh

- name: install delve
  shell: >
    source ~/.config/zsh/.zshrc &&
    go get -u github.com/go-delve/delve/cmd/dlv executable=/bin/zsh
