---

- name: install benchstat
  shell: >
    source ~/.config/zsh/.zshrc &&
    go install golang.org/x/perf/cmd/benchstat@latest executable=/bin/zsh

- name: install iferr
  shell: >
    source ~/.config/zsh/.zshrc &&
    go install github.com/koron/iferr@latest executable=/bin/zsh

- name: install impl
  shell: >
    source ~/.config/zsh/.zshrc &&
    go install github.com/josharian/impl@latest executable=/bin/zsh

- name: install gofumpt
  shell: >
    source ~/.config/zsh/.zshrc &&
    go install mvdan.cc/gofumpt@latest executable=/bin/zsh

- name: install delve
  shell: >
    source ~/.config/zsh/.zshrc &&
    go install github.com/go-delve/delve/cmd/dlv@latest executable=/bin/zsh

- name: install gomodifytags
  shell: >
    source ~/.config/zsh/.zshrc &&
    go install -v github.com/fatih/gomodifytags@latest executable=/bin/zsh

- name: install goimports-reviser
  shell: >
    source ~/.config/zsh/.zshrc &&
    go install -v github.com/incu6us/goimports-reviser/v3@latest executable=/bin/zsh
