---
- name: unzip
  package:
    name: unzip
    state: latest
  become: yes

- name: Download fnm installer
  get_url:
    url: https://fnm.vercel.app/install
    dest: /tmp/fnminstall.sh

- name: Execute the fnm installer
  shell: cat /tmp/fnminstall.sh | bash -s -- --skip-shell

- name: installing node & npm
  shell: >
    source ~/.config/zsh/.zshrc && fnm install {{ node_version }} && fnm default {{ node_version }} executable=/bin/zsh
