---
- name: terminal
  become: yes
  package: name={{ item }} state=latest
  with_items:
    - ncdu
    - htop
    - ranger

- name: installing purer-prompt
  shell: source ~/.zshrc && npm install -g purer-prompt executable=zsh
