---
- name: Install common tools
  become: true
  ansible.builtin.package:
    name:
      - wget
      - build-essential
      - automake
      - autoconf
      - pkg-config
      - libssl-dev
      - curl
      - gdebi
      - filezilla
      - virtualbox
      - thunar
      - pcmanfm
      - chromium-browser
      - mousepad
      - feh
      - tidy
      - parcellite
      - openvpn
      - brightnessctl
      - xclip
      - blueman
      - graphviz
      - httpie
      - autorandr
      - cargo
      - pwgen
      - cmake
      - libtool
      - libtool-bin
      - ninja-build
      - imagemagick
      - fzy
      - fzf
      - luarocks
      - bat
    state: latest

- name: Disable OpenVPN service
  become: true
  ansible.builtin.service:
    name: openvpn
    enabled: false

- name: Import rofi tasks
  ansible.builtin.import_tasks:
    file: rofi.yml

- name: Create autorandr config directory
  ansible.builtin.file:
    path: "{{ config_dir }}/autorandr"
    state: directory
    mode: '0755'

- name: Copy autorandr hooks
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "{{ config_dir }}/autorandr/{{ item | basename }}"
  with_fileglob:
    - autorandr/*

- name: Check if ActivityWatch is installed
  stat:
    path: "{{ ansible_env.HOME }}/Downloads/activitywatch"
  register: aw_exists

- name: Install ActivityWatch
  ansible.builtin.unarchive:
    src: "https://github.com/ActivityWatch/activitywatch/releases/download/{{ activitywatch_version }}/activitywatch-{{ activitywatch_version }}-linux-x86_64.zip"
    dest: "{{ ansible_env.HOME }}/Downloads"
    remote_src: true
  when: not aw_exists.stat.exists

- name: Sudo
  include_tasks: sudo.yml