---

# - name: add dropbox source
#   become: yes
#   shell: >
#     apt-key adv --keyserver pgp.mit.edu --recv-keys 5044912E
#     sh -c 'echo "deb http://linux.dropbox.com/ubuntu/ xenial main" > /etc/apt/sources.list.d/dropbox.list'
#     apt update

- name: install common tools
  become: yes
  package: name={{ item }} state=present
  with_items:
    - wget
    - build-essential
    - automake
    - autoconf
    - pkg-config
    - libssl-dev
    - curl
    - gdebi
    - filezilla
    - vagrant
    - virtualbox
    - thunar
    - chromium-browser
    - mousepad
    - feh
    - tidy
    - dropbox
    - autorandr
    - parcellite
    - openvpn
    - xbacklight

- include: rofi.yml

- name: install todotxt-machine
  shell: "{{ ansible_env.HOME }}/.local/bin/pip install --user --upgrade todotxt-machine"

- name: disable openvpn at boot
  become: yes
  shell: "update-rc.d openvpn disable"
