---

# TODO
# - name: add dropbox source
#   become: yes
#   shell: >
#     apt-key adv --keyserver pgp.mit.edu --recv-keys 5044912E
#     sh -c 'echo "deb http://linux.dropbox.com/ubuntu/ xenial main" > /etc/apt/sources.list.d/dropbox.list'
#     apt update

- name: install common tools
  become: yes
  package:
    state: latest
    name:
      - wget
      - build-essential
      - automake
      - autoconf
      - pkg-config
      - libssl-dev
      - curl
      - gdebi
      - filezilla
      - vagrant
      - virtualbox
      - thunar
      - chromium-browser
      - mousepad
      - feh
      - tidy
      - parcellite
      - openvpn
      - brightnessctl
      - xclip
      - blueman
      - graphviz
      - httpie

- name: disable openvpn at boot
  become: yes
  shell: "update-rc.d openvpn disable"

- include: rofi.yml

- name: install todotxt-machine
  shell: "{{ ansible_env.HOME }}/.local/bin/pip install --user --upgrade todotxt-machine"

- name: install autorandr
  shell: "{{ ansible_env.HOME }}/.local/bin/pip install --user --upgrade autorandr"

- name: install activitywatch
  unarchive:
    src: "https://github.com/ActivityWatch/activitywatch/releases/download/v0.10.0/activitywatch-v0.10.0-linux-x86_64.zip"
    dest: "{{ ansible_env.HOME }}/Downloads"
    remote_src: yes
