---
- name: Creates tools directory
  file:
    path: "{{ config_dir }}/rofi/"
    state: directory

- name: Link rofi config
  file:
    src: "{{ item }}"
    dest: "{{ config_dir }}/rofi/config"
    state: link
  with_fileglob:
  - rofi.config


- name: installing rofi
  become: true
  package:
    state: present
    name:
    - rofi
    - rofi-dev
    - qalc
    - libtool
