---

- name: download get-docker.sh
  get_url: url=https://get.docker.com  dest=/tmp/get-docker.sh

- name: install docker
  command: "sh /tmp/get-docker.sh"

- name: delete get-docker.sh
  file: state=absent path=/tmp/get-docker.sh

- name: install docker-compose
  shell: "{{ ansible_env.HOME }}/.local/bin/pip install --user --upgrade docker-compose"
