---
# TODO: fix ^^
# - name: install coc.nvim extensions
#   command: >
#     nvim
#     +CocInstall coc-pairs coc-css coc-html coc-lists coc-ultisnips coc-json coc-tsserver coc-tslint coc-yaml coc-prettier
#     +qall!
#     ignore_errors: true
- name: install coc.nvim language servers
  shell: >
    source ~/.config/zsh/.zshrc &&
    npm install -g {{ item }}
    executable=/bin/zsh
  with_items:
    - dockerfile-language-server-nodejs
    - bash-language-server
    - yaml-language-server
    - typescript-language-server
