---
# TODO: fix ^^
# - name: install coc.nvim extensions
#   command: >
#     nvim
#     +CocInstall coc-pairs coc-css coc-html coc-lists coc-ultisnips coc-json coc-tsserver coc-tslint coc-yaml coc-prettier coc-pyls coc-eslint
#     +qall!
#     ignore_errors: true
- name: install coc.nvim language servers
  shell: >
    source ~/.config/zsh/.zshrc &&
    npm install -g {{ item }}
    executable=/bin/zsh
  with_items:
    - dockerfile-language-server-nodejs
    - bash-language-server
    - yaml-language-server
    - typescript-language-server

- name: install pyls
  shell: "{{ ansible_env.HOME }}/.local/bin/pip install --user 'python-language-server[all]'"

# install phpactor language server:
# echo "extension_manager.minimum_stability: dev" > ~/.config/phpactor/phpactor.yml 
# ~/.config/nvim/plugged/phpactor/bin/phpactor extension:install phpactor/language-server-extension
#
# ~/.config/nvim/plugged/phpactor/bin/phpactor extension:install phpactor/language-server-reference-finder-extension
# ~/.config/nvim/plugged/phpactor/bin/phpactor extension:install phpactor/worse-reference-finder-extension
#
# ~/.config/nvim/plugged/phpactor/bin/phpactor extension:install phpactor/language-server-completion-extension
# ~/.config/nvim/plugged/phpactor/bin/phpactor extension:install phpactor/completion-worse-extension
#
# ~/.config/nvim/plugged/phpactor/bin/phpactor extension:install phpactor/language-server-hover-extension
