---
- name: Install build dependencies
  become: yes
  package:
    name:
      - ninja-build
      - gettext
      - libtool
      - libtool-bin
      - autoconf
      - automake
      - cmake
      - g++
      - pkg-config
      - unzip
      - curl
    state: present

- name: Clone or update neovim repository
  ansible.builtin.git:
    repo: https://github.com/neovim/neovim.git
    dest: "{{ ansible_env.HOME }}/tools/neovim"
    version: "v{{ neovim_version }}"
    force: yes

- name: Build and install neovim
  ansible.builtin.shell: |
    cd {{ ansible_env.HOME }}/tools/neovim && make CMAKE_BUILD_TYPE=Release && sudo make install
  args:
    creates: /usr/local/bin/nvim

- name: install luajit
  become: yes
  package:
    name: luajit
    state: present