---
- name: pip2 | neovim
  shell: /home/vagrant/.local/bin/pip install --user --upgrade neovim

- name: pip3 | neovim
  shell: /home/vagrant/.local/bin/pip3 install --user --upgrade neovim
  # pip: name=neovim executable=pip3 state={{ neovim_install_state }} extra_args=--user

- name: neovim ppa
  become: yes
  apt_repository: repo='ppa:neovim-ppa/unstable' state=present

- name: install neovim
  become: yes
  package: name=neovim state={{ neovim_install_state }}

- name: setup | vim-plug directory
  file: path="{{ neovim_config_dir }}/autoload" state=directory

- name: install | vim-plug
  get_url:
    url: https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
    dest: "{{ neovim_config_dir }}/autoload/plug.vim"
    force: yes

- name: Link neovim dotfiles
  file:
    src: "{{ item }}"
    dest: "{{ neovim_config_dir }}/{{ item | basename }}"
    state: link
  with_fileglob:
    - conf/*

- name: install | plugins
  command: "nvim +silent! +PlugUpdate! +UpdateRemotePlugins! +qall!"
  ignore_errors: true
