priority 1


snippet feat "Feature"
Feature: $1
  In order to $2
  As an $3
  So I can $4
endsnippet


snippet scen "Scenario"
Scenario: $1
  Given $2
  When $3
  Then $4
endsnippet

snippet back "Background"
Background:
  Given $1
endsnippet

snippet exam "Examples"
Examples:
  | ${1:var} |$3
  | ${2:val} |
endsnippet
